<a href="https://colab.research.google.com/github/youngha20/jweather/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(3+5)

8

In [ ]:
print(3*7)
print(3-1)
print(5*100)

21
2
500

In [ ]:
#3 다양한 연산자 사용하기
var1 = 10
var2 = 20

print(var1 + var2)
print(var1 * var2)
print(var1 / var2)

30
200
0.5

In [ ]:
#4 % 연산자 활용하기 나머지 구하기
var5 = 3
var6 = 14
print(var6 % var5)

2

In [ ]:
#5 print() 함수 사용하기

# 출력할 문장을 직접쓰기
print("메롱")
# 출력한 문장을 변수에 넣고 변수값 출력하기
str ="메메롱롱"
print(str)

메롱
메메롱롱

In [ ]:
# 리터럴 문자와 함께 사용하기
hungry = 5
print('배가 무지 고파서 밥을 %s 그릇도 먹겠네!' %hungry)

배가 무지 고파서 밥을 5 그릇도 먹겠네!

In [ ]:
# %d 정수, %f 실수, %s 문자열, %c 문자하나
# 특수 문자와 함께 사용해야할 경우 %를 사용해야하는경우 %% 를 두개 사용
hungry = 5
print('배가 무지 고파서 밥을 %f %%나 더먹었어' %hungry)

배가 무지 고파서 밥을 5.000000 %나 더먹었어

In [ ]:
# 여러개의 변수를 한꺼번에 사용할 경우
up = 20
sal= 10

print('[뉴스에서 물가는 %s %%오른다는데 내 월급도 %s %%라도 ...' %(up, sal))

[뉴스에서 물가는 20 %오른다는데 내 월급도 10 %라도 ...

In [ ]:
# input()함수로 정보 입력받기
txt1 = input()

짜장면

In [ ]:
# input()안내 멘트 보이기
txt1 = input('점심 뭐 드셨어요?')

점심 뭐 드셨어요?짬뽕

In [ ]:
# 출력 되는 양식을 지정하여 정보를 입력받기
area_no = input('''
1. 서울 2. 대전 3.대구 4. 광주

위지역중에서 정보를 조회할 지역은?''')

1. 서울 2. 대전 3.대구 4. 광주

위지역중에서 정보를 조회할 지역은?대구

In [ ]:
menu1 = input('첫번째 주문할 음식은?')
menu2 = input('두번째 주문할 음식은?')
print('첫번째 주문한 음식은 %s 이고 두번째 주문한 음식은 %s 입니다.' %(menu1, menu2))

첫번째 주문할 음식은?된장
두번째 주문할 음식은?고추장
첫번째 주문한 음식은 된장 이고 두번째 주문한 음식은 고추장 입니다.

In [ ]:
menu3 = input('''
1.짜장면 2.울면 3.짬봉 4.깐풍기 5.칠리새우

위 메뉴중 주문할 메뉴의 번호를 입력하세요.
''')
menu4 = input('메뉴의 주문 수량을 입력하세요')
print('주문하신 메뉴 번호는 %s 이고 주문 수량은 %s개 입니다.' %(menu3, menu4))

1.짜장면 2.울면 3.짬봉 4.깐풍기 5.칠리새우

위 메뉴중 주문할 메뉴의 번호를 입력하세요.
3
메뉴의 주문 수량을 입력하세요2
주문하신 메뉴 번호는 3 이고 주문 수량은 2개 입니다.

In [ ]:
# 연산자 사용 방법 j-=3(j=j-3), j*=3(j=j*3), j/=3(j=j/3)
i = 0
i = i + 2
print("i에 저장된 값은 %s 입니다." %i)

j = 0
j += 3
print("j에 저장된 값은 %s 입니다." %j)

i에 저장된 값은 2 입니다.
j에 저장된 값은 3 입니다.

In [ ]:
# 정수형으로 변환하기 - 변환하기 전
no1 = input("첫번째 숫자 입력:")
no2 = input("두번째 숫자 입력:")
print('''
첫번째 숫자는 %s 이고 두번재 숫자는 %s이며 두 숫자의 합은 %s 입니다.''' %(no1, no2, no1+no2))

첫번째 숫자 입력:1
두번째 숫자 입력:2

첫번째 숫자는 1 이고 두번재 숫자는 2이며 두 숫자의 합은 3 입니다.

In [ ]:
# 정수형으로 변환하기 - 변환 후
no1 = int(input("첫번째 숫자 입력:"))
no2 = int(input("두번째 숫자 입력:"))
print('''
첫번째 숫자는 %s 이고 두번재 숫자는 %s이며 두 숫자의 합은 %s 입니다.''' %(no1, no2, no1+no2))

첫번째 숫자 입력:1
두번째 숫자 입력:2

첫번째 숫자는 1 이고 두번재 숫자는 2이며 두 숫자의 합은 3 입니다.

In [ ]:
#실수형 숫자 타입

print("정수형 숫자 타입", int(1))
print("정수형 숫자 타입", float(1.0))

정수형 숫자 타입 1
정수형 숫자 타입 1.0

In [ ]:
# 숫자 타입에서 많이 사용되는 주요 함수
# round() 반올림 함수

no1 = 13.45678
no2 = 3.56789
print("원래값 : %s, 반올림후 값 : %s" %(no1, round(no1)))
print("원래값 : %s, 반올림후 값 : %s" %(no2, round(no2)))

원래값 : 13.45678, 반올림후 값 : 13
원래값 : 3.56789, 반올림후 값 : 4

In [ ]:
# 숫자 타입에서 많이 사용되는 주요 함수
# round() 반올림 함수 - 소수점 이하 자리수 지정

no1 = 2
no2 = 3
print("반올림 전 원래 값 : ", no1 / no2)
print("소수 첫째 자리까지 반올림 하기", round(no1 / no2, 1))
print("소수 첫째 자리까지 반올림 하기", round(no1 / no2, 2))

반올림 전 원래 값 :  0.6666666666666666
소수 첫째 자리까지 반올림 하기 0.7
소수 첫째 자리까지 반올림 하기 0.67

In [53]:
# 숫자 타입에서 많이 사용되는 주요 함수
# trunc() 버림 함수
import math # <- math, numpy 모듈에 있는 버림함수 trunc

no1 = 3
no2 = 5
print("버림하기 전 원래 값:" , no1 / no2)
print("버림하기 전 원래 값:" , math.trunc(no1 / no2))

버림하기 전 원래 값: 0.6
버림하기 전 원래 값: 0

In [57]:
# 숫자 타입에서 많이 사용되는 주요함수
# 큰 정수 찾기 함수 ceil()

cnt=int(input("총 몇 건의 데이터를 수집할까요?"))
# 한 페이지에 15건의 게시물이 있다고 가정하고 계산
page_cnt = math.ceil( cnt / 15)
print("총 %s 페이지까지 데이터를 수집해야 합니다." %page_cnt)

총 몇 건의 데이터를 수집할까요?50
총 4 페이지까지 데이터를 수집해야 합니다.

In [59]:
# floor() - 작은 정수 찾기
import math

no1 = 4.9
no2 = 2.1

print("%s 보다 작으면서 가장 가까운 정수는 %s 입니다." %(no1, math.floor(no1)))
print("%s 보다 작으면서 가장 가까운 정수는 %s 입니다." %(no2, math.floor(no2)))

4.9 보다 작으면서 가장 가까운 정수는 4 입니다.
2.1 보다 작으면서 가장 가까운 정수는 2 입니다.